.slider {
    width: 500px;
    margin: 40px auto;
}

.buttons {
    position: relative;
    font-size: 60px;
    color: cornflowerblue;
    z-index: 1;
}

i.fas.fa-angle-left {
    position: absolute;
    top: 110px;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

i.fas.fa-angle-right {
    position: absolute;
    top: 110px;
    right: 0;
    z-index: 1;
    cursor: pointer;
}

i.fas.fa-angle-left:active,
i.fas.fa-angle-right:active {
    opacity: 0.5;
}

.images {
    position: relative;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.img1,
.img2,
.img3 {
    position: absolute;
    top: 0;
    transition: all 1s;
}

/* .img1 {
    left: -100%;
    z-index: 1;
}

.img2 {
    left: 0;
    z-index: 2;
}

.img3 {
    left: 100%;
    z-index: 3;
} */

/* .moveLeft1 {
    left: 100%;
}

.moveLeft2 {
    left: -100%;
}

.moveLeft3 {
    left: 0;
} */

