.product {
    width: 150px;
    margin: 10px 0;
}

.productName {
    text-align: center;
    text-transform: uppercase;
    color: blue;
    font-weight: 600;
}

.desc {
    display: none;
}

.active {
    display: block;
}

.product__img {
    width: 150px;
    height: 200px;
}